<div class="flex flex-col items-center">
  <div style="position: relative">
    <webcam
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
    ></webcam>
    <button
      style="position: absolute; bottom: 0; right: 50%"
      (click)="triggerSnapshot()"
    >
      Take A Snapshot
    </button>
  </div>
</div>

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div *ngFor="let image of imageData" class="swiper-slide">
      <a [href]="image" download="nombre-de-la-imagen.jpg">
        <img [src]="image" alt="" style="object-fit: contain" />
      </a>
    </div>
    <div class="swiper-slide">Your captured image will appear here...</div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
